ul {
  list-style-type: none;
}

li {
  margin-top: 10px;
  font-size: 1.50em;
  cursor: pointer;
}

.abv1 {
  background: -webkit-linear-gradient(#f2b818, #d19e14);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.abv2 {
  background: -webkit-linear-gradient(#f2b818, #cc9616);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.abv3 {
  background: -webkit-linear-gradient(#f2b818, #a87f10);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.abv4 {
  background: -webkit-linear-gradient(#f2b818, #72570b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.abv5 {
  background: -webkit-linear-gradient(#f2b818, #4c3a07);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#sidebar {
  border-radius: 5px 5px 0 0;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background-color: #FCC488;
  color: #00B2CA;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #00B2CA;
  color: #1D4E89;
  border-radius: 5px 5px 0 0;
}

#show-form {
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: underline;
}
