ul {
  list-style-type: none;
}

li {
  margin-top: 10px;
  font-size: 1.75em;
  cursor: pointer;
}

.abv1 {
  background: -webkit-linear-gradient(green, gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.abv2 {
  background: -webkit-linear-gradient(#f2b818, #cc9616);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.abv3 {
  background: -webkit-linear-gradient(yellow, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.abv4 {
  background: -webkit-linear-gradient(#f2b818, #72570b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.abv5 {
  background: -webkit-linear-gradient(yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cheapBeer {
  color: chartreuse;
}

.goodBeer {
  color: magenta;
}

#menu {
  border-radius: 5px 5px 0 0;
  min-width: 1140px;
  max-width: 1250px;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: #00B2CA;
}

#menu .menu-header {
  padding: 20px;
  background: black;
  text-align: center;
  color: white;
  border-radius: 5px 5px 0 0;
}

#show-form {
  font-weight: bold;
  font-size: 1.75em;
  float: right;
  margin-right: 40px;
  color: white;
  background-color: black;
  display: inline;
}
