ul {
  list-style-type: none;
}

li {
  margin-top: 10px;
  font-size: 1.50em;
  cursor: pointer;
}

#sidebar {
  border-radius: 5px 5px 0 0;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background-color: #FCC488;
  color: #00B2CA;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #00B2CA;
  color: #1D4E89;
  border-radius: 5px 5px 0 0;
}

#show-form {
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: underline;
}
