<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="jumbotron">
    <h1 style="text-align:center" id="main-head">
      Welcome to {{ title }}!!!
    </h1>
  </div>

  <div class="wrapper">
    <app-keg-list [childKegList] = 'masterKegList' (viewSender)="viewKeg($event)" [showFormBool] = 'showForm' (clickedBool) = "updateShowForm($event)"></app-keg-list>
    <div class="content-col">
      <div *ngIf="showForm">
        <app-new-keg (sendKeg)="addKeg($event)"></app-new-keg>
      </div>
      <app-view-keg [childSelectedKeg] = 'selectedKeg'  (clickSender)="editKeg($event)"></app-view-keg>
      <app-edit-keg [childSelectedKeg2] = 'selectedKeg2' (clickedDone)="finishedEditing()" (clickedDelete)="deleteKeg()"></app-edit-keg>
    </div>
  </div>




</div>
