<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- test the modal -->
        <div id="employee" class="wrapper well" *ngIf="!loggedIn; else notLogged"><!-- not logged in so we can see it -->

        </div>
      <ng-template #logged>
        <app-view-keg [childSelectedKeg] = 'selectedKeg'  (clickSender)="editKeg($event)"></app-view-keg>
        <app-edit-keg [childSelectedKeg2] = 'selectedKeg2' (clickedDone)="finishedEditing()" (clickedDelete)="deleteKeg()"></app-edit-keg>
      </ng-template>

      <ng-template #notLogged>
        <app-view-keg [childSelectedKeg] = 'selectedKeg'>
          <h3>{{childSelectedKeg.name}}</h3>
          <h4>{{childSelectedKeg.brand}}</h4>
          <p>{{childSelectedKeg.price}}</p>
          <p>{{childSelectedKeg.abv}}</p>
          <p>{{childSelectedKeg.pints}}</p>
        </app-view-keg>
      </ng-template>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button class="btn btn-primary" (click)="kegClicked(currentKeg)">Order</button>
    </div>
    </div>
  </div>
</div>

<!-- The content below is only a placeholder and can be replaced. -->
<div class="container">
  <div class="jumbotron">
    <h1 style="text-align:center; text-shadow: 5px 5px #56490F;" id="main-head">
      Welcome to the {{ title }}
    </h1>
  </div>

  <div class="wrapper">
    <app-keg-list [childKegList] = 'masterKegList' (viewSender)="viewKeg($event)" [showFormBool] = 'showForm' (clickedBool) = "updateShowForm($event)"></app-keg-list>
    <div class="content-col">
      <div *ngIf="showForm">
        <app-new-keg (sendKeg)="addKeg($event)"></app-new-keg>
      </div>
      <!-- <app-edit-keg [childSelectedKeg2] = 'selectedKeg2' (clickedDone)="finishedEditing()" (clickedDelete)="deleteKeg()">where am i?</app-edit-keg> -->
    </div>
  </div>

  <!-- div id="employee" came from here -->

  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button> -->

</div>
