<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="jumbotron">
    <h1 style="text-align:center" id="main-head">
      Welcome to {{ title }}!!!
    </h1>
  </div>

  <div class="wrapper">
    <app-recipe-list [childRecipeList] = 'masterRecipeList' (viewSender)="viewRecipe($event)" [showFormBool] = 'showForm' (clickedBool) = "updateShowForm($event)"></app-recipe-list>
    <div class="content-col">
      <div *ngIf="showForm">
        <app-new-recipe (sendRecipe)="addRecipe($event)"></app-new-recipe>
      </div>
      <app-view-recipe [childSelectedRecipe] = 'selectedRecipe'  (clickSender)="editRecipe($event)"></app-view-recipe>
      <app-edit-recipe [childSelectedRecipe2] = 'selectedRecipe2' (clickedDone)="finishedEditing()" (clickedDelete)="deleteRecipe()"></app-edit-recipe>
    </div>
  </div>




</div>
