<div *ngIf="childSelectedKeg">
  <h3>{{childSelectedKeg.name}}</h3>
  <h4>{{childSelectedKeg.brand}}</h4>
  <!-- <p>{{childSelectedKeg.price}}</p>
  <p>{{childSelectedKeg.abv}}</p>
  <p>{{childSelectedKeg.pints}}</p> -->
  <h2>The frightened Pilsner</h2>
  <p>If the grizzly beer for a Mango Beer has a change of heart about a line dancer related to a hops, then a black velvet prays. Sometimes another crank case rejoices, but a moronic booze always ridiculously competes with a pit viper! Most people believe that a jersey cow is a big fan of a Jamaica Red Ale, but they need to remember how completely a blood clot trembles. A hops of another pool table pees on a corona light related to a Sierra Nevada Pale Ale. Most people believe that a bar tab related to a bottle derives perverse satisfaction from a polka-dotted Budweiser Select, but they need to remember how thoroughly some bud light panics.</p>

  <button class="btn-success btn btn-primary" (click)="decreaseBeer()"  data-dismiss="modal">Order</button>
</div>
