/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

body {
  background-color: #FCDDBB;
  color: #F79256;
  background-image: url("/assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding-top: 25px;
}

.well {
  background-color: black;
}

.jumbotron {
  background-image: url("/assets/img/woodgrain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: gold;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

h3 {
  font-size: 3em;
  font-weight: bold;
}

.content-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
